.container {
  margin: 20px auto;
}

.card {
  border: none; /* Eliminar borde de la tarjeta */
  max-width: 250px; /* Establecer un ancho máximo para las tarjetas */
  margin: auto; /* Centrar la tarjeta dentro de su columna */
}

.card-img-top {
  object-fit: contain; /* Ajustar la imagen para que esté completamente visible */
  height: 200px; /* Establecer una altura fija para mantener un tamaño uniforme */
  width: 100%; /* Asegurarse de que la imagen ocupe todo el ancho del contenedor */
}

.card-title {
  font-size: 1.2rem; /* Ajustar el tamaño del título */
}

.card-text {
  font-size: 1rem; /* Ajustar el tamaño del texto */
}
